* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* css voor het postioneren van elementen */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
header .banner {
    float: right;
}

header figure {
    float: left;
}

aside {
    clear: both;
}

form {
    /* het element hierboven, namelijk de banner, staat ingesteld
    op float: right. Dat floaten met vanaf de from stoppen */
    clear: both;
    padding: 1em;
}

fieldset {
    margin-top: 1em;
    padding: 1em;
}

fieldset > div {
    margin-top: 0.5em;
}


/* alleen de labels die onmiddellijk volgen op
   een inout element moeten links voorafgegaan worden
   door witruimte (margin-left)
   we gebruiken de adjacent sibling selector om deze labels
   te selecteren */
fieldset input+label {
    margin: 0 0.5em 0 0.5em;
}
/************** opmaak navigatie ***************/
/* type selector om de html ol elementen te selecteren
   binnenin een html navelement */
nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #242424
}
header {
    padding: 0 0.5em 0 0.5em;
}
/* horizontale navigatie */
header nav li:first-child {
    border-left: solid 0.1em;
}

header nav li {
    border-right: solid 0.1em;
    display: inline-block
}

header nav a {
    padding: 0 0.5em 0 0.5em;
}

header nav a:hover {
    background-color: #8C92AC;
}

/* opmaak */
header figure img {
    height: 6em;
}




/* navigatie met :target in een single page app */
article section {
    display: none;
}

article section:target {
    display: block;
}

body>span {
    display: none;
}

#span1:target ~article #section1,
#span2:target ~article #section2,
#span3:target ~article #section3,
#span4:target ~article #section4,
#span5:target ~article #section5,
#span6:target ~article #section6,
#span7:target ~article #section7,
#span8:target ~article #section8,
#span9:target ~article #section9,
#span10:target ~article #section10,
#span11:target ~article #section11,
#span12:target ~article #section12{
    display: block;
}

/* formulier opmaak */
/* ik wil alleen de span's selecteren die direct achter 
    een input element staan. Daarvoor gebruik ik 
    de adjacent sibling selector */
input + span, form p span {
    color: red;
}