*{
    box-sizing:border-box;
     margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    
}

body {
    width: 100%;
    height: 100%;
    background-color:#DCDCDC;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-size: 18px;
}

aside {
    /* float haalt het element uit de natuurlijke volgorde */
    float: left;
    width: 25%;
    background-color:#DAA520;
}

article {
    box-sizing: border-box;
    float: left;  
    width: 60%;
    background-color:#DAA520;
    padding:0 0 0 1.5em
}
nav ol {
    list-style-type: none;
       margin: 0;
    padding: 0; 
}
nav a {
    text-decoration: none;
    color: #242424
}

header nav li:first-child {
    border-left: solid 0.1em;
}

header nav li {
    border-right: solid 0.1em;
 display: inline-block
}

/*deze onderste doet het niet*/

header nav a {
    padding: 0 0.5em 0 0.5em;
}

header nav a:hover {
    background-color: #8C92AC;

}
/* opmaak */
header figure img {
    height: 6em;
}

header figure {
    float: left;
}

header .banner {
    float: right;
}

aside {
    clear: both;
}

aside nav ol {
    width: 100%;
    background-color: #979AAA;
}

aside nav a:hover {
    background-color: #666699;
    color: #EEEEE0;
    border-left: solid 0.6em #979AAA;
    padding: 0.2em 0 0.2em 0.4em;

}

aside nav ol li:last-child{
    display: block;
    border-top: solid 0.1em;
}

aside nav ol li a:last-child {
    display: block;
    border-bottom: solid 0.1em;
    border-left: solid 0.6em #979AAA;
    padding: 0.2em 0 0.2em 0.4em;
}
/* navigatie met :target in een single page app */
article section {
    display: none;
}

article section:target {
    display: block;
}

body>span {
    display: none;
}

#span1:target ~article #section1,
#span2:target ~article #section2,
#span3:target ~article #section3,
#span4:target ~article #section4,
#span5:target ~article #section5,
#span6:target ~article #section6,
#span7:target ~article #section7,
#span8:target ~article #section8,
#span9:target ~article #section9,
#span10:target ~article #section10,
#span11:target ~article #section11,
#span12:target ~article #section12,
#span13:target ~article #section13,
#span14:target ~article #section14,
#span15:target ~article #section15,
#span16:target ~article #section16,
#span17:target ~article #section17,
#span18:target ~article #section18,
#span19:target ~article #section19,
#span20:target ~article #section20,
#span21:target ~article #section21,
#span22:target ~article #section22,
#span23:target ~article #section23,
#span24:target ~article #section24{
    display: block;
}

footer {
    clear: both;
    text-align: center;
}